.hero {
	background: url('./assets/img/Hero.svg') no-repeat;
	background-position: center;
	background-size: cover;
	height: 510px;
}

.card-text {
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}

.dropdown-menu {
	margin-top: 1em !important;
	border: none;
	filter: drop-shadow(0 0 2px grey);
}

.dropdown-menu::before {
	z-index: -1;
	content: url('./assets/img/polygon.svg');
	position: absolute;
	top: -1.3em;
	left: 5.5em;
}

.dropdown-item:active {
	background-color: #f6dada;
	color: #bd0707;
}
